.movies-card {
  max-width: 360px;
  width: 100%;
  min-height: 231px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  color: #ffffff;
}

.movies-card__img {
  width: 100%;
  height: 192px;
  border-radius: 6px;
}

.movies-card__content {
  margin-top: auto;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies-card__title {
  padding-left: 14px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movies-card__duration {
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  text-align: center;
  width: 52px;
  height: 18px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  color: #8B8B8B;
  background-color: #2f2f2f;
  border-radius: 3px;
}

.movies-card__link {
  width: 100%;
  height: 192px;
  border-radius: 6px;
}

.movies-card__add-bookmark {
  margin: 19px 14px 0 0;
  position: absolute;
  top: 14px;
  right: 14px;
  font-size: 10px;
  line-height: 9px;
  background-color: #313131;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  padding: 6px 7px;
  opacity: 0;
  
}

.movies-card__add-bookmark-active {
  background-image: url(../../images/save_image.svg);
  width: 21px;
  height: 21px;
  position: absolute;
  top: 44px;
  right: 130px;
  opacity: 1;
  background-color: transparent;
  border: none;
}

.movies-card__delete-bookmark {
  background-image: url("../../images/ui/delete-bookmark-icon.svg");
  background-color: #313131;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: opacity .3s ease;
  position: absolute;
  top: 14px;
  right: 14px;
  width: 20px;
  height: 20px;
  opacity: 1;
}

.movies-card__add-bookmark:hover {
  opacity: 0.7;
}

.movies-card__delete-bookmark:hover {
  opacity: 0.7;
}

@media screen and (max-width: 780px) {
  .movies-card__link {
    max-height: 190px;
    margin-bottom: 25px;
  }
  .movies-card__add-bookmark-active {
    top: 10px;
    right: 10px;
  }
  .movies-card__content {
    width: 100%;
    margin: 0;
  }
  .movies-card__title {
    padding: 0;
  }
}

@media screen and (max-width: 544px) {
  .movies-card__link {
    max-height: 168px;
    margin-bottom: 16px;
  }
  .movies-card__add-bookmark-active {
    top: 10px;
    right: 10px;
  }
  .movies-card__title {
    font-size: 12px;
  }
}

