
.logo {
    max-height: 38px;
    cursor: pointer;
    margin-left: 38px;
  }

  @media screen and (max-width: 425px) {
    .logo__register {
      margin-left: 40%;
      margin-right: auto;
    }
  }