
.logo {
    max-height: 38px;
    margin-top: 5px;
    cursor: pointer;
    margin-left: 38px;
  }
  .logo__register {
    margin-left: 0;
  }

  @media screen and (max-width: 800px) {
    .logo {
      margin-left: 0;
    }
  }
  @media screen and (max-width: 425px) {
    .logo__register {
      margin-left: 10px;
    }
  
  }
