.header {
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  /*margin: 18px 60px 18px;*/
  padding-left: 38px;
  padding-right: 38px;
}
.header_color {
  background-color: #073042;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px 18px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    padding: 18px 14px 18px;
  }
}
