.about-me {
    max-width: 1140px;
    margin: 0 auto;
    padding: 110px 70px 101px;
    background-color: #202020;
    color: #ffffff;
  }
  
  .about-me__title {
    margin: 0 0 66px;
    font-size: 22px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: -0.04em;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 24px;
  }
  
  .about-me__container {
    padding-top: 7px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

  }
  .about-me__text-container {
    max-width: 600px;
    width: 100%;
  }
  .about-me__name {
    margin: 0 0 19px;
    font-size: 50px;
    line-height: 58px;
    font-weight: 400;
    letter-spacing: -2px;
  }
  
  .about-me__info {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
  }
  
  .about-me__description {
    margin: 0 0 100px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
  
  .about-me__social-network {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
  }
  
  .about-me__photo {
    height: 327px;
    width: 270px;
    border-radius: 10px;
    object-fit: fill;
  object-position: center;
  }
  
  @media screen and (max-width: 1050px)  {
   .about-me__text-container {
    max-width: 500px;
   }
  }
  @media screen and (max-width: 768px) {
    .about-me__title {
      margin-bottom: 66px;
    }
  
    .about-me__name {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -1.6px;
      margin-bottom: 16px;
    }
  
    .about-me__info {
      font-size: 12px;
      line-height: 18px;
    }
  
    .about-me__description {
      margin-bottom: 87px;
      font-size: 12px;
      line-height: 18px;
    }
    
    .about-me__photo {
      max-height: 307px;
      max-width: 255px;
    }
    .about-me__text-container {
      max-width: 364px;
    }
  }
  
  @media screen and (max-width: 550px) {
    .about-me {
      padding: 69px 14px 70px;
    }
    
    .about-me__title {
      margin-bottom: 60px;
      font-size: 18px;
      line-height: 22px;
      padding-bottom: 28px;
    }
  
    .about-me__name {
      font-size: 30px;
      line-height: normal;
      letter-spacing: -1.2px;
      margin-bottom: 20px;
    }
    
    .about-me__container {
      display: grid;
      grid-template-rows: 352px minmax(194px, 1fr);
      gap: 40px;
      padding-top: 0;
    }
    .about-me__text-container {
      grid-row: 2;
    }
    .about-me__info {
      margin-left: 0;
    }
    .about-me__description {
      margin-bottom: 40px;
      font-size: 11px;
      line-height: 16px;
    }
    
    .about-me__photo {
      margin: 0 auto;
      width: 292px;
      height: 352px;
      grid-row: 1;
    }
  }
  